@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap");

.root {
    /* CSS HEX */
--alice-blue: #edf2fbff;
--lavender-web: #e2eafcff;
--lavender-web-2: #d7e3fcff;
--periwinkle: #ccdbfdff;
--periwinkle-2: #c1d3feff;
--periwinkle-3: #b6ccfeff;
--jordy-blue: #abc4ffff;
    }
* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  transition: all 0.2s linear;
}

html {
font-size: 10px;
}

body {
color: #0c0c0c;
background: #faf9f9;
}

/* HEADER SECTION */
header {
position: fixed;
top: 0;
left: 0;
right: 0;
padding: 2rem 7%;
display: flex;
align-items: center;
justify-content: space-between;
z-index: 1000;
background-color: #ffffff;
}

header .logo {
color: yellow; 
display: flex;
justify-content: center;
align-items: center;
font-size: 2.5rem;
font-weight: bolder;
}

header .logo span {
color: #ff9c01;
}

header img {
margin-right: 1rem;
width: 30px;
height: auto;
}

nav a {
/*margin: 1rem;*/
margin: 0 0.5rem;
font-size: 1.5rem;
border-radius: 2rem;
padding: 0.5rem 1.5rem;
color: #0c0c0c;
}

nav a.active,
nav a:hover {
background: #dd0028;
}

.icon i {
cursor: pointer;
font-size: 2rem;
margin: 1rem;
padding: 0.8rem;
border-radius: 30%;
color:  #abc4ffff;
}


.icon i:hover {
color: #fff;
background: #edf2fbff;
} 

#icon-list {
display: none;
}

/* HOME SECTION */
.home {
width: 100%;
height: 100vh;
display: grid;
grid-template-columns: repeat(2, 1fr);
align-items: center;
gap: 5rem;
padding: 8rem 8%;
}

.home-image {
display: flex;
justify-content: center;
align-items: center;
}

.home-image img {
width: 100%;
filter: drop-shadow(20px 30px 10px rgba(0, 0, 0, 0.1));
border-radius: 20px; 
margin-bottom: -50px;
}

.home-text h1 {
font-size: 7rem;
}

.home-text h1 span {
color: #c1d3feff;
}

.home-text h4 {
font-size: 3rem;
font-weight: 300;
color: #303030;
padding-bottom: 1.5rem;
}

.home-text p {
color: #6a6a6a;
font-size: 1.5rem;
padding-bottom: 3rem;
}

.home-text .btn {
display: flex;
width: 15rem;
justify-content: center;
align-items: center;
color: #fff;
padding: 1rem;
background-color:  #b6ccfeff;
border-radius: 1rem;
gap: 5px;
font-weight: bolder;
font-size: 1.5rem;
transition: all 0.6s;
}

.home-text .btn i {
font-size: 3rem;
}

.home-text .btn:hover {
transform: translateY(-8px);
background: #edf2fbff;
}

/* SKILL SECTION */
.skill-title {
margin-top: 5rem; 
display: flex;
justify-content: center;
text-align: center;
color: black; 
font-weight: bolder;
font-size: 4rem; 
}

.skill-container {
width: 100%;
padding: 2rem 5%;
}

.row {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
grid-gap: 3rem;
margin: 5rem 0;
}

.s-box {
text-align: center;
padding: 25px 10px;
border-radius: 10px;
font-size: 1.4rem;
cursor: pointer;
background: transparent;
transition: transform 0.5s, background 0.5s;
}

.s-box i {
font-size: 5rem;
color:  #b6ccfeff;
}

.s-box h2 {
font-weight: 900;
margin-top: 2rem;
margin-bottom: 1rem;
}

.s-box p {
font-size: 1.2rem;
}

.s-box:hover {
background: #ff9c01;
color: #faf9f9;
transform: scale(1.05);
}

.s-box:hover i {
color: #faf9f9;
}

/* INTEREST SECTION */
.interest {
padding: 4rem 8% 8rem 8%;
background:  #b6ccfeff;
width: 100%;
height: auto;
background-color: #b6ccfeff;
}

.interest-text {
text-align: center;
padding-bottom: 4rem;
}

.interest-text h5 {
font-size: 2rem;
color: #dd0028;
font-weight: 800;
margin-bottom: 1.5rem;
}

.interest-text h2 {
font-size: 3.5rem;
}

.interest-text h2 span {
color: #faf9f9;
}

.interest-content {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(300px, auto));
gap: 3rem;
align-items: center;
}

.t-box {
padding: 30px;
background-color: #faf9f9;
box-shadow: 1px 2px 11px 4px rgb(14 55 54 / 15%);
border-radius: 2rem;
transition: transform 0.5s, background 0.5s;
}

.t-box:hover {
transform: scale(1.05);
}

.t-box p {
color: #0c0c0c;
font-size: 1.1rem;
margin-bottom: 1.5rem;
letter-spacing: 0.8px;
}

.in-box {
display: flex;
align-items: center;
gap: 3rem;
}

.tbox-img img {
width: 60px;
height: 60px auto;
border-radius: 50%;
border: 3px solid #ff9c01;
}

.tbox-text h4 {
margin: 5px 0;
font-size: 15px;
}

.tbox-text h5 {
color: #6a6a6a;
font-size: 8px;
font-weight: 500;
letter-spacing: 1px;
margin-bottom: 0.8rem;
}

/* FOOTER SECTION */
.footer {
padding: 4rem 8%;
background-color: #faf9f9;
}

.footer .box-container {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
gap: 1rem;
}

.footer .box-container .f-box .logo span {
color: #ff9c01;
}

.footer .box-container .f-box .logo img {
margin-right: 1rem;
}

.footer .box-container .f-box h3 {
  font-size: 2rem;
  color: #dd0028;
  padding: 1rem 0;
}
.footer .box-container .f-box .links {
  display: block;
  font-size: 1.3rem;
  color: #0c0c0c;
  padding: 0.5rem 0;
}
.footer .box-container .f-box p {
  font-size: 1.2rem;
  color: #0c0c0c;
  padding: 0.8rem 5rem 3rem 0;
}
.footer .box-container .f-box .links i {
  color: #dd0028;

  padding-right: 0.5rem;
}
.footer .box-container .f-box .links:hover {
  color: #ff9c01;
  font-weight: 800;
  padding-right: 2rem;
}
.footer .socials a i {
  color: #dd0028;
  font-size: 2rem;
  margin-right: 2rem;
}
.footer .socials a i:hover {
  color: #ff9c01;
}
.copyright {
  text-align: center;
  padding: 2rem;
  font-weight: 800;
  background-color: #faf9f9;
  box-shadow: 1px 2px 10px 4px rgb(14 55 54 / 15%);
}